QWidget {
    color: #aaa;
    background-color: #222;
}
QPlainTextEdit {
   font-family: "Courier New";
   border: 1.5px groove #ffffff;
}
QPushButton {
   border: 1px groove #ffffff;
}
QLineEdit {
  border: 1px groove #aaa;
}
